<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Note Taking Application</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>
  <nav id="navbar">
    <!-- <div id="logo">
        <img src="logo.jpg" alt="MyNotes.com">
    </div> -->
    <ul>
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="#WriteNotes">WriteNotes</a></li>
        <li class="item"><a href="#About">About Us</a></li>
        <li class="item"><a href="#contact">Contact us</a></li>
    </ul>

</nav>
  {% block content %}
    {# Template inserted here #}
  {% endblock %}
  
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/script.js"></script>
  
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
  integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
<script></script>
</html>