
<div class="bck">

{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">

  <div class="card" style="background-color: rgb(74, 24, 74);" id="signout">
    <div class="center">
      <a href="/user/signout" class="btn btn-primary" id="sbut">Sign Out</a>
    </div>

  </div>

  <!-- <div class="card" style="background-color: black;">

      <h2 class="center">Your Info</h2>

      <p>
        <strong>ID:</strong> {{ session['user']['_id'] }}<br>
        <strong>Name:</strong> {{ session['user']['name'] }}<br>
        <strong>Email:</strong> {{ session['user']['email'] }}
      </p>
    
    </div> -->

</div>
<!-- <form action="/" method="POST">
    <h3>Update Note</h3>
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Title:</label>
      <input type="text" class="form-control" name="title" id="recipient-name" value="">
    </div>
    <div class="form-group">
      <label for="message-text" class="col-form-label">Note Text:</label>
      <textarea class="form-control" id="message-text" name="note"></textarea>
    </div>
    <button type="submit" class="btn btn-primary c1">update</button>
</form> -->

<div class="container mt-3">
  <form name="note" action="/notes/addnote" method="post">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Note Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="title" id="formGroupExampleInput" placeholder="Enter Note Title">
      </div>
    </div>
    <div class="form-group row">
      <label for="note-desc" class="col-sm-2 col-form-label">Note Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="4" name="note"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-dark c1">Add Note</button>
  </form>
</div>
<div class="container mt-3">
  <table class="table">

    <thead class="table-dark">
      <tr>
        <th scope="col">Title </th>
        <th scope="col">Notes</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody> 
      {% if notes|length ==0  %}
      <div class="alert alert-danger" role="alert">
          There is no note, ADD your first note now!!
      </div>
      {% else %}  
      {% for note in notes %}   
      <tr class="td"> 
        <td>{{note.title}}</td>
        <td>{{note.note}}</td>
        <td>
          <a href="{{url_for('updateNote',id=note._id)}}" type="button" class="btn btn-success btn-sm mx-2 update ">Update</button>
          <a href="{{url_for('deleteNote',id=note._id)}}" type="button" class="btn btn-danger btn-sm mx-2 delete ">delete</button>
      </td>
      </tr>
      
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{%block content1 %}
{%endblock%}
{% endblock %}</div>