{% extends "dashboard.html" %}
{%block content1 %}
 <div class= "container mt-3">
 <table class="table">
      {% if notes|length ==0  %}
      <div class="alert alert-danger" role="alert">
          There is no note, ADD your first note now!!
      </div>
      {% else %}
<!-- 
      <thead class="table-dark">
          <tr>
            <th scope="col">Title </th>
            <th scope="col">Notes</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody> -->
          {% for note in notes %}   
          <tr> 
            <td>{{note.title}}</td>
            <td>{{note.note}}</td>
            <!-- {{note._id}} -->
            <td>
              <!-- href="/update_note/{{note._id}}"
              href="/delete_note/{{note._id}}" -->
              <!-- <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-success btn-sm mx-2"><a href="/update/{{note.id}}">update</a></button> -->
              <a href="{{url_for('updateNotes',id=note._id)}}" type="button" class="btn btn-success btn-sm mx-2 update ">Update</button>
              <a href="{{url_for('updateNotes',id=note._id)}}" type="button" class="btn btn-danger btn-sm mx-2 delete ">delete</button>
          </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
    </table>
</div>  


{% endblock %}